---
import { Image } from "astro:assets";
import { getEntry } from "astro:content";
import type { ImageMetadata } from "astro";
import processSectionImages from "./processImages";

const allProcesses = await getEntry("agencyWorkProcess", "process");
const images: { [name: string]: ImageMetadata } = processSectionImages();
---

<section
  id="process-section"
  class="px-10 custom-bg-dark h-auto pb-10 pt-10 sm:pt-20 mb-20"
>
  <div class="section-heading">
    <h3 class="section-title | text-white">
      Our{" "}
      <span class="service-title__highlight | custom-text-dark bg-color-accent">
        work process
      </span>
    </h3>
    <p class="section-description | !text-white">
      Experience a streamlined and collaborative work process tailored to your
      needs. From project planning and requirement gathering to agile
      development and rigorous testing, our transparent approach ensures your
      vision is brought to reality smoothly and efficiently.
    </p>
  </div>

  <div
    id="process-container"
    class="grid grid-cols-1 md:grid-cols-2 justify-evenly justify-items-center gap-8"
  >
    {
      allProcesses.data.map((process: any, id: number) => (
        <div class="process">
          <div class="process-title">
            <Image
              src={images[process.image.srcName]}
              alt={process.image.alt}
              width={45}
              height={45}
              class="process-number"
            />
            <strong class="title" set:html={process.title} />
          </div>
          <p class="process-description text-gray-700">{process.description}</p>
        </div>
      ))
    }
  </div>

  <style lang="scss">
    @import "../../../styles/main.scss";

    section {
      #process-header {
        #underline-header {
          width: 0px;
          max-width: 250px;
          height: 1px;
          background: $green-light;
          display: inline-block;
          visibility: hidden;
        }
      }

      #process-container {
        .process {
          max-width: 400px;

          .process-title {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            .process-number {
              display: inline-block;
              // width: 55px;
              // height: 30px;
              text-align: center;
              font-weight: 600;
              margin-bottom: 20px;
            }

            .title,
            .title > span {
              font-size: 1.25rem;
              line-height: 1.75rem;
              color: white;
              font-family: $font-family-title !important;
            }
          }

          .process-description {
            padding: 1.5rem 0;
            width: auto;
            color: white;
            font-weight: 300;
            font-size: medium;
          }
        }
      }
    }
  </style>
</section>
