$green-lighter: #def2bf;
$green-light: #8cbf40;
$green-dark: #3ea645;
$green-darker: #03734b;
$gray: #939498;
$primary-green-4: #9eff51;

$primary-color: #ffffff;
$secondary-color: #222222;
$accent-color: #9eff51;

$font-family-title: "IBM Plex Sans Condensed", sans-serif;
$font-family-body: "Poppins", sans-serif;

$box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);

$breakpoints: (
  xs: 578px,
  sm: 768px,
  md: 992px,
  lg: 1200px,
);
