#mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 4;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: hidden;

  #open-close-icons {
    margin-top: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: $accent-color;
  }
  
  #mobile-nav-items {
    display: none;
  }
  
  &.mobileNavContainer {
    // When click add .mobileNavContainer
    background-color: $secondary-color;
    width: 65%;
  
    #mobile-nav-items {
      display: block;
      width: 100%;
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
  
      .nav-item-link {
        width: 100%;
        font-size: larger;
        margin-top: 4rem;
        color: white;
        padding-right: 2.9rem;
  
        .link {
          display: flex;
          justify-content: flex-end;
          align-items: center;
  
          .link-icon {
            margin-left: 0.5rem;
            font-size: 2rem;
          }
  
          &:hover {
            color: $accent-color;
          }
        }
  
        &:last-child {
          padding-right: 0 !important;
          width: 200px;
          max-width: 200px;
          height: 50px;
          border-radius: 1.9rem;
          text-align: center;
          background-color: $accent-color;
          color: $secondary-color !important;
        }
      }
    }
  }
}
