---
import { Image } from "astro:assets";
import { Icon } from "@iconify/react";
import contactImage from "./contact.jpeg";
---

<section id="contact" class="h-auto px-5 sm:px-10 mb-40">
  <div
    id="contact-section__details"
    class="max-w-[950px] h-[30rem] mx-auto rounded-xl flex flex-col text-center px-5 sm:px-0 sm:text-left sm:flex-row items-center justify-center mb-10"
  >
    <div
      id="how-to-contact"
      class="flex flex-col justify-between items-center px-5 text-white text-md"
    >
      <h1 id="header" class="text-4xl sm:text-5xl font-semibold mb-2">
        Get In Touch
      </h1>
      <p id="description" class="my-5">
        We're available to attend to you. Reach out to us today:
      </p>

      <p class="contact-us-ways mb-5">
        Fill{" "}
        <a href="/contact">
          <span
            class="border-b-2 hover:border-b-4 border-solid border-[#9eff51]"
          >
            contact form
          </span>{" "}
          and tell us about the project.
        </a>
      </p>

      <div class="contact-us-ways h-auto mb-5">
        <p class="font-regular p-1 mb-2">Reach us on social media:</p>

        <div
          id="contact-icons"
          class="flex flex-row justify-around align-items flex-wrap"
        >
          <div class="icons items">
            <a
              href="https://twitter.com/duoworkhq"
              target={"_blank"}
              class="text-green-700 text-2xl"
            >
              <Icon icon="mdi:twitter" />
            </a>
          </div>

          <div class="icons items">
            <a
              href="https://www.linkedin.com/company/duowork/"
              target={"_blank"}
              class="text-green-700 text-2xl"
            >
              <Icon icon="mdi:linkedin" />
            </a>
          </div>

          <div class="icons items">
            <a
              href="https://instagram.com/duoworkhq"
              target={"_blank"}
              class="text-green-700 text-2xl"
            >
              <Icon icon="mdi:instagram" />
            </a>
          </div>
        </div>
      </div>

      <p class="font-regular leading-snug mb-2">
        Want to send us an email instead?
      </p>
      <a
        href="mailto:reach@duowork.tech"
        class="custom-bg-green-accent rounded-full !px-4 !py-2 text-black"
        target="_blank"
      >
        reach@duowork.tech
      </a>
    </div>
    <Image
      src={contactImage}
      alt="Duowork contact page image"
      class="rounded-md !hidden lg:!block object-cover w-[350px] h-[350px]"
    />
  </div>
</section>

<style lang="scss">
  @import "../../../styles/main.scss";

  section {
    #contact-section__details {
      background-color: $secondary-color;
    }

    img {
      object-fit: cover;
    }
  }
</style>
