---
import { Image } from "astro:assets";
import bubbleImage from "./images/contact-bubble.svg";
import ContactForm from "./contact-form";
import { Mail, MapPin, Instagram, Linkedin, Twitter } from "@lucide/astro";
---

<section class="h-auto bg-white bg-[url('/pages/contact.jpg')] relative">
  <!-- Overlay -->
  <div class="absolute inset-0 bg-black opacity-70"></div>

  <div class="size-full py-2 sm:py-10 z-70 relative">
    <div class="breadcrumb-nav my-3 sm:my-10 pt-5 text-center text-sm">
      <a href="/" class="text-gray-400"> Home</a>
      <small class="mx-1 text-gray-300">{">"}</small>
      <small class="text-white">Contact us</small>
    </div>

    <div class="text-center mb-10">
      <h1 class="hidden">Contact Duowork</h1>
      <h2 class="text-2xl sm:text-3xl font-semibold mb-5 text-white">
        How can we be of service?
      </h2>

      <p
        class="text-sm text-gray-400 font-light text-center px-[3.5rem] sm:px-5"
      >
        fill the form below and we'll get back to you ASAP!
      </p>
    </div>

    <div
      class="py-10 px-2 sm:px-5 lg:px-10 flex flex-end sm:flex-row justify-center max-w-[60rem] h-auto mx-5 lg:mx-auto rounded-xl mb-20 md:rounded-[2.75rem] bg-duo-dark"
    >
      <div
        id="contact-form-left"
        class="contactFormLeft hidden md:block sm:mr-5 w-1/2"
      >
        <div
          id="contact-method"
          class="bg-black h-full pl-5 lg:pl-10 pt-10 flex flex-col justify-between"
        >
          <!-- <div class="">
          <h2 class="font-regular p-1 mb-1 text-2xl text-white">Contact us</h2>
        </div> -->

          <div
            class="text-white flex flex-col items-start justify-between h-[200px]"
          >
            <div class="flex items-center gap-2">
              <MapPin class="text-gray-400 text-2xl mr-2" />
              <span>Abuja, Nigeria</span>
            </div>

            <div class="flex items-center gap-2">
              <Mail class="text-gray-400 text-2xl mr-2" />
              <span>reach@duowork.tech</span>
            </div>
          </div>

          <div id="contact-icon" class="flex items-center justify-between">
            <div
              class="flex flex-row justify-start align-items flex-wrap text-white"
            >
              <div
                class="icons items h-10 w-10 rounded-xl flex justify-center items-center"
              >
                <a
                  href="https://twitter.com/DuoworkHQ"
                  target={"_blank"}
                  class="text-lg block underline"
                >
                  <Twitter />
                  <!-- Twitter -->
                </a>
              </div>

              <div
                class="icons items h-10 w-10 rounded-xl flex justify-center items-center mx-10"
              >
                <a
                  href="https://instagram.com/duoworkhq"
                  target={"_blank"}
                  class="text-lg block underline"
                >
                  <Instagram />
                  <!-- IG -->
                </a>
              </div>

              <div
                class="icons items h-10 w-10 rounded-xl flex justify-center items-center"
              >
                <a
                  href="https://www.linkedin.com/company/duowork"
                  target={"_blank"}
                  class="text-lg block underline"
                >
                  <Linkedin />
                  <!-- LinkedIn -->
                </a>
              </div>
            </div>

            <Image
              src={bubbleImage}
              alt="Duowork contact page right-side contact bubble"
              width={130}
              height={130}
              loading="lazy"
            />
          </div>
        </div>
      </div>

      <!-- Contact form -->
      <ContactForm client:idle />
    </div>
  </div>
</section>
