---
const { pageTitle } = Astro.props;
import { ViewTransitions } from "astro:transitions";
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="generator" content={Astro.generator} />
  <title>{pageTitle ? `Duowork | ${pageTitle}` : "Duowork"}</title>
  <ViewTransitions />
</head>
