---
import { Image } from "astro:assets";
import { Icon } from "@iconify/react";
import contactImage from "./contact.jpeg";

const photos = [
  { id: 1, width: 400, height: 300 },
  { id: 2, width: 300, height: 400 },
  { id: 3, width: 400, height: 400 },
  { id: 4, width: 300, height: 300 },
  { id: 5, width: 400, height: 300 },
  { id: 6, width: 300, height: 400 },
];
---

<section id="contact" class="h-auto px-5 sm:px-10 mb-40">
  <div
    id="contact-section__details"
    class="max-w-[950px] h-[30rem] mx-auto rounded-xl flex flex-col text-center px-5 sm:px-0 sm:text-left sm:flex-row items-center justify-center mb-10"
  >
    <div
      id="how-to-contact"
      class="flex flex-col justify-between items-center px-5 text-white text-md"
    >
      <h1 id="header" class="text-4xl sm:text-5xl font-semibold mb-2">
        Get In Touch
      </h1>
      <p id="description" class="my-5">
        We're available to attend to you. Reach out to us today:
      </p>

      <p class="contact-us-ways mb-5">
        Fill{" "}
        <a href="/contact">
          <span
            class="border-b-2 hover:border-b-4 border-solid border-[#9eff51]"
          >
            contact form
          </span>{" "}
          and tell us about the project.
        </a>
      </p>

      <div class="contact-us-ways h-auto mb-5">
        <p class="font-regular p-1 mb-2">Reach us on social media:</p>

        <div
          id="contact-icons"
          class="flex flex-row justify-around align-items flex-wrap"
        >
          <div class="icons items">
            <a
              href="https://twitter.com/duoworkhq"
              target={"_blank"}
              class="text-green-700 text-2xl"
            >
              <Icon icon="mdi:twitter" />
            </a>
          </div>

          <div class="icons items">
            <a
              href="https://www.linkedin.com/company/duowork/"
              target={"_blank"}
              class="text-green-700 text-2xl"
            >
              <Icon icon="mdi:linkedin" />
            </a>
          </div>

          <div class="icons items">
            <a
              href="https://instagram.com/duoworkhq"
              target={"_blank"}
              class="text-green-700 text-2xl"
            >
              <Icon icon="mdi:instagram" />
            </a>
          </div>
        </div>
      </div>

      <p class="font-regular leading-snug mb-2">
        Want to send us an email instead?
      </p>
      <a
        href="mailto:reach.duoworkhq@gmail.com"
        class="custom-bg-green-accent rounded-full !px-4 !py-2 text-black"
        target="_blank"
      >
        reach@duowork.tech
      </a>
    </div>
    <Image
      src={contactImage}
      alt="Duowork contact page image"
      class="rounded-md !hidden lg:!block object-cover w-[350px] h-[350px]"
    />
  </div>

  <!-- Instagram feed -->
  <!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 mt-40">
    {
      photos.map((photo, idx) => (
        <div class="h-[250px] relative overflow-hidden rounded-md border transition-transform duration-300">
          <div class="w-full h-full group relative">
            <img
              src={`/api/placeholder/${photo.width}/${photo.height}`}
              alt={`Abstract photo ${photo.id}`}
              class="w-full h-full object-cover transition-transform duration-500"
            />

            <div class="absolute inset-0 bg-black bg-opacity-0 group-hover:bg-opacity-30 transition-opacity duration-500 flex items-center justify-center">
              <div class="opacity-0 group-hover:opacity-100 transform translate-y-4 group-hover:translate-y-0 transition-all duration-300">
                <button class="px-4 py-2 bg-white text-black rounded-full font-medium flex items-center justify-between">
                  <div id="eye-open-icon" class="pr-1">
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      viewBox="0 0 24 24"
                    >
                      <path
                        fill="currentColor"
                        d="M12 9a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3m0 8a5 5 0 0 1-5-5a5 5 0 0 1 5-5a5 5 0 0 1 5 5a5 5 0 0 1-5 5m0-12.5C7 4.5 2.73 7.61 1 12c1.73 4.39 6 7.5 11 7.5s9.27-3.11 11-7.5c-1.73-4.39-6-7.5-11-7.5"
                      />
                    </svg>
                  </div>
                  <span>200</span>
                </button>
              </div>

              <div id="instagram-icon" class="absolute top-[2px] right-[2px] text-white">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="38"
                  height="38"
                  viewBox="0 0 24 24"
                >
                  <path
                    fill="currentColor"
                    d="M7.8 2h8.4C19.4 2 22 4.6 22 7.8v8.4a5.8 5.8 0 0 1-5.8 5.8H7.8C4.6 22 2 19.4 2 16.2V7.8A5.8 5.8 0 0 1 7.8 2m-.2 2A3.6 3.6 0 0 0 4 7.6v8.8C4 18.39 5.61 20 7.6 20h8.8a3.6 3.6 0 0 0 3.6-3.6V7.6C20 5.61 18.39 4 16.4 4zm9.65 1.5a1.25 1.25 0 0 1 1.25 1.25A1.25 1.25 0 0 1 17.25 8A1.25 1.25 0 0 1 16 6.75a1.25 1.25 0 0 1 1.25-1.25M12 7a5 5 0 0 1 5 5a5 5 0 0 1-5 5a5 5 0 0 1-5-5a5 5 0 0 1 5-5m0 2a3 3 0 0 0-3 3a3 3 0 0 0 3 3a3 3 0 0 0 3-3a3 3 0 0 0-3-3"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>
      ))
    }
  </div> -->
</section>

<style lang="scss">
  @import "../../../styles/main.scss";

  section {
    #contact-section__details {
      background-color: $secondary-color;
    }

    img {
      object-fit: cover;
    }
  }
</style>
