---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "@components/navigation/Navigation.astro";
import MobileNavigation from "@components/navigation/mobileNavigation";
import Footer from "@components/footer/Footer";
import { ToastContainer } from "react-toastify";
// import CustomCursor from "@components/custom-cursor.astro";
---

<html lang="en">

  <!-- Document head -->
  <BaseHead />

  <body>

    <!--  Desktop navigation -->
    <Navigation />

    <!-- Mobile navigation -->
    <MobileNavigation client:visible />

    <main id="duowork" class="relative">
      <slot />
    </main>

    <Footer client:only="react" />

    {/* Toast notification container for when form is submitted */}
    <ToastContainer
      client:only="react"
      position="top-right"
      autoClose={5000}
      hideProgressBar={false}
      newestOnTop={false}
      closeOnClick
      rtl={false}
      pauseOnFocusLoss
      draggable
      pauseOnHover
      theme="dark"
    />

    <!-- Custom cursor -->
    <!-- <CustomCursor /> -->
  </body>
</html>
