---
import BaseHead from "../components/BaseHead.astro";
import { ToastContainer } from "react-toastify";
import CustomCursor from "@components/custom-cursor.astro";
---

<script>
  document.addEventListener("astro:before-preparation", () => {
    console.time("Page preparation");
  });

  document.addEventListener("astro:after-preparation", () => {
    console.timeEnd("Page preparation");
  });

  document.addEventListener("astro:page-load", () => {
    console.log("Page fully loaded");
  });
</script>

<html lang="en">
  <!-- Document head -->
  <BaseHead />

  <body>
    <main id="duowork" class="relative">
      <slot />
    </main>

    {/* Toast notification container for when form is submitted */}
    <ToastContainer
      client:only="react"
      position="top-right"
      autoClose={5000}
      hideProgressBar={false}
      newestOnTop={false}
      closeOnClick
      rtl={false}
      pauseOnFocusLoss
      draggable
      pauseOnHover
      theme="dark"
    />

    <!-- Custom cursor -->
    <CustomCursor />
  </body>
</html>

<style is:global lang="scss">
  @import "../styles/main.scss";
</style>
