---
import BaseHead from "../components/BaseHead.astro";
import ToastContainerComponent from "../components/toast-container-component";
import CustomCursor from "@components/custom-cursor.astro";
---

<script>
  document.addEventListener("astro:before-preparation", () => {
    console.time("Page preparation");
  });

  document.addEventListener("astro:after-preparation", () => {
    console.timeEnd("Page preparation");
  });

  document.addEventListener("astro:page-load", () => {
    console.log("Page fully loaded");
  });
</script>

<html lang="en">
  <!-- Document head -->
  <BaseHead />

  <body>
    <main id="duowork" class="relative">
      <slot />
    </main>

    <!-- Custom cursor -->
    <CustomCursor />

     {/* Toast notification container for when form is submitted */}
    <ToastContainerComponent client:only="react" />
  </body>
</html>

<style is:global lang="scss">
  @import "../styles/main.scss";
</style>
